nav{
     background-color: deeppink;
    }
ul{
    list-style-type: none;
}
li{
    font-size: 30px;
}

div{
    background-color: hotpink;
}

#caixa-roxa{
    background-color: rgb(137, 0, 228);
    color: #aa74f0;
    width: 200px;
    height: 300px;
}

#caixa-rosa{
    background-color: mediumvioletred;
    color: #aa74f0;
    width: 200px;
    height: 300px;

    .minicaixa{
        background-color: hotpink;
        font-size: 35px;
        text-align: center;
        height: 100%;}
    